html.lenis{height:auto}.lenis.lenis-smooth{scroll-behavior:auto}.lenis.lenis-smooth [data-lenis-prevent]{overscroll-behavior:contain}.lenis.lenis-stopped{overflow:hidden}.lenis.lenis-scrolling iframe{pointer-events:none}
@font-face {
	font-family: "cooper-hewitt";
	src: url("./public/TradeGothicLT-Bold.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "jet-mono";
	src: url("./public/jet-mono.woff2") format("woff2");
	font-display: swap;
}

:root {
	--title: "cooper-hewitt";
	--text: "jet-mono";
	/* --p: clamp(1rem, 0.1vw + 0.97rem, 1.06rem); */
	--p: clamp(1rem, 0.1vw + 0.97rem, 1.2rem);
	--h3: clamp(1.78rem, 1.58vw + 1.36rem, 2.78rem);
	--h2: clamp(2.37rem, 4.09vw + 1.34rem, 5.03rem);
	--h1-5: clamp(3.16rem, 7.66vw + 1.24rem, 8.14rem);
	--h1: clamp(4.21rem, 13.78vw + 0.76rem, 13.17rem);

	--logo: clamp(2.2rem, 3.7vw + 1rem, 4.5rem);
	--xl: clamp(4.21rem, 13.78vw + 0.76rem, 13.17rem);
	/* --xl: clamp(3.68rem, 10.72vw + 1rem, 10.65rem); */
  --gap: clamp(1.33rem, 0.91vw + 1.11rem, 1.92rem);
--gap-2: clamp(2.37rem, 4.09vw + 1.34rem, 5.03rem);
	--xxl: clamp(6rem, 25vw + -0.43rem, 50rem);


	/* --font-size-sm: clamp(1rem, 0.29vw + 0.93rem, 1.19rem);
--font-size-base: clamp(1.33rem, 0.91vw + 1.11rem, 1.92rem);
--font-size-md: clamp(1.78rem, 2.05vw + 1.26rem, 3.11rem);
--font-size-lg: clamp(2.37rem, 4.09vw + 1.34rem, 5.03rem);
--font-size-xl: clamp(3.16rem, 7.66vw + 1.24rem, 8.14rem);
--font-size-xxl: clamp(4.21rem, 13.78vw + 0.76rem, 13.17rem);
--font-size-xxxl: clamp(5.61rem, 24.15vw + -0.43rem, 21.31rem);
--font-size-a: clamp(7.48rem, 41.53vw + -2.9rem, 34.47rem);
--font-size-b: clamp(9.97rem, 70.48vw + -7.65rem, 55.78rem);
--font-size-c: clamp(13.29rem, 118.4vw + -16.31rem, 90.25rem);
--font-size-d: clamp(17.71rem, 197.4vw + -31.64rem, 146.02rem);
--font-size-e: clamp(23.61rem, 327.16vw + -58.18rem, 236.26rem);
--font-size-f: clamp(31.47rem, 539.69vw + -103.45rem, 382.27rem); */

	--diff: #ffffff;
	--accent: #D2431E;
	--white: #ffffff;
	--black: #000;
	--ls: -0.08em;
	--ratio: 1.618;
	--uni: calc(var(--ratio) * 1rem);
	--ratio-2: calc(var(--ratio) * var(--ratio));
}
.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .02;  
    z-index: 1000;
    pointer-events: none;
    background: url('./public/noise.gif') ;
}
.accent {
	color: var(--accent);
}
.disable-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

.x-scroll {
	overflow-x: scroll;
	overflow-y: hidden;
}

.w {
	padding-left: var(--uni);
	padding-right: var(--uni);
}

.w-0 {
	padding: 0 !important;
}

.w-1 {
	padding-left: calc(var(--uni) * var(--ratio));
	padding-right: calc(var(--uni) * var(--ratio));
}


.fixed-position {
	position: fixed;
}

.width-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}
.vw-100 {
	width: 100vw;
}

.gap {
	gap: var(--gap);
}
.gap-2 {
	gap: var(--gap-2);
}
.overflow-hidden {
	overflow: hidden;
}
.flex {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
}
.col-reverse{
	display: flex;
	flex-direction: column-reverse;
}
.abs-center {
	position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}
.row {
	display: flex;
	flex-direction: row;
}

.center {
	align-items: center;
}

.start {
	align-items: flex-start;
}

.end {
	align-items: flex-end;
}

.space-bw {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: end;
}

.space-even {
	justify-content: space-evenly;
}

.diff {
	color: var(--diff);
	mix-blend-mode: difference;
}

.self-center {
	align-self: center;
}

.self-start {
	align-self: flex-start;
}

.self-end {
	align-self: flex-end;
}

.pointer-none {
	pointer-events: none;
}

.min-content {
	width: min-content;
}

.max-content {
	width: max-content;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.max-600 {
  max-width: 550px;
}
/* ::-moz-selection {
    background: var(--primary);
    color: var(--bg);
  }
  ::selection {
    background: var(--primary);
    color: var(--bg);
  } */
.nowrap {
	flex-wrap: nowrap !important;
}
.wrap {
	flex-wrap: wrap;
}
.is-black {
	color: var(--white) !important;
	/* mix-blend-mode: difference; */
	background-color: var(--black) !important;
}

.is-white {
	color: var(--black) !important;
	background-color: var(--white) !important;
}

h0 {
	margin-top: 1rem;
	font-size: var(--xxl);
	line-height: 1;
	font-family: var(--title);
	/* letter-spacing: -5px; */

}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: var(--xl);
	line-height: 0.85;
	font-family: var(--title);
	letter-spacing: var(--ls);
}

h2 {
	text-transform: uppercase;
	font-size: var(--h2);
	font-family: var(--title);
	letter-spacing: var(--ls)

}

h3 {
	text-align: justify;
	font-size: var(--h3);
	font-family: var(--text);
	letter-spacing: var(--ls);
	font-weight: 450;
}
p,
h4 {
	text-align: justify;
	font-size: var(--p);
	font-family: var(--text);
	letter-spacing: var(--ls);
	font-weight: 400;
}

* {
	letter-spacing: var(--ls);
	text-transform: uppercase;
	/* -webkit-font-smoothing: antialiased; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	text-decoration: none !important;
	/* list-style: none !important; */
}
html[data-scroll-orientation="horizontal"] {
    body {
        width: fit-content;
    }
    [data-scroll-container] {
        display: flex;
    }
}
html {
	height: 100%;
	overscroll-behavior: none;
}
body {
	height: 100%;
	overflow: auto;
	background: var(--white);
	color: var(--black);
	font-size: var(--p);
	font-family: var(--text);
	transition: 0.2s ease-in-out;
}
main {
	position: relative;
	z-index: 2;
}
section {
	position: relative;

}
.loader {
	position: fixed;
	/* background-color: var(--black); */
	background-color: var(--white);
	pointer-events: none!important;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.transition {
	/* position: absolute; */
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
}
#bar {
	width: 100%;
	height: 100vh;
	background-color: var(--white);
	transform: scaleY(0);
	-webkit-transform: scaleY(0);

}


.menu:hover {
	background-color: var(--white);
  color: var(--black)!important;
}
#footer-bottom {
	gap: 1rem;
	/* margin-top: var(--gap-2); */
}
#footer-socials * {
	mix-blend-mode: difference;
	color: var(--diff);
	
  }
#contact {
	z-index: 1;
	padding-bottom: 0.8rem;
	padding-top: var(--uni);
	/* height: 100vh; */
	position: sticky;
	position: -webkit-sticky;
	bottom: 0;
}
#contact-cluster {
	/* margin-top: 3vh; */
  flex-direction: row;
}
/* OVERLAY */
#overlay {
	position: fixed;
	padding-top: 10vh;
	top: 0;
	left: 0;
	height: 100svh;
	width: 100vw;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	background-color: #000000de;
	color: var(--white) !important;
	z-index: 4;
}
#menu-cluster {
	padding-top: clamp(1rem, 0.1vw + 0.97rem, 1.06rem);
}
#overlay a {
	text-decoration: none;
	color: var(--white);
	/* font-size: var(--h3); */
}
#seperator {
	position: absolute;
	width: 0%;
	height: 1px;
	background-color: var(--white);
	mix-blend-mode: normal;
}
.menu {
	height: 6vh;
}
.menu a {
	margin: auto 0;
}
#overlay input {
	color: var(--white);
	border-bottom: 1px solid var(--white);
}
#socials {
	/* margin-top: 6vh; */
}
#overlay-bottom {
	padding-bottom: 0.5rem;
}
nav {
	width: 100%;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	padding: var(--uni);
}
#home {
	mix-blend-mode: difference;
	z-index: 5;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	height: var(--logo);
	aspect-ratio: 3/1;
}
#logo {
	mix-blend-mode: difference;
	width: 100%;
	height: 100%;
}
#nav-cluster {
	gap: var(--p);
}

.pill {
	text-decoration: none!important;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid #ffffff4b;
	color: var(--white);
	background-color: #000000a8;
	border-radius: 2em;
	height: 2.5rem;
	line-height: 2.5rem;
	width: fit-content;
	padding: 0 1rem;
}
.link{
	text-decoration: underline!important;
}
a,
button {
	font-size: var(--p);
	font-family: var(--text);
	border: none;
	text-decoration: none;
	background-color: transparent;
}
#about .link {
	color: var(--black);
	margin-top: 15px;
}

#services {
	padding-bottom: var(--gap-2);
	padding-top: var(--gap);

}
#services .col {
	gap: var(--p);
}
#deck {
	height: 100vh;
	background-color: var(--black);
}
#deck .img {
	z-index: 1;
	width: 100%;
	background: transparent url('./public/deck.png');
	background-repeat: no-repeat;
	background-size: contain;
  background-position: center;
  /* rotate: 85deg; */
  height: 600px;
}
#deck a{
	text-shadow: 0 0 20px #00000055;
	text-align: center;
	z-index: 10;
	color: var(--white);
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (orientation:portrait) {
  }
@media only screen and (max-width: 1440px) {
	:root {
		--xl: clamp(3.16rem, 7.66vw + 1.24rem, 8.14rem);
	}
}
@media only screen and (max-width: 1024px) {
  .max-600 {
  min-width: 100%;
}
  #contact-cluster {
    gap: 10vh;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 768px) {
	#time {
		display: none;
	}
  #footer-desc{
	display: none;
    /* padding-top: 10vh; */
  }
  #footer-socials {
	width: 100%;
  }

  .w-1 {
	padding-left: var(--uni);
	padding-right: var(--uni);
}
  .w-50 {
	width: 100%;
}
#deck .img {
  rotate: -90deg;
}
}

@media only screen and (max-width: 425px) {
  :root {
	--ratio: 1.333;
  }
  #home {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
  }
	#nav-cluster {
		margin: auto;
		width: 100%;
	}
  #nav-cluster a{
    display: none;
  }
  #contact .description {
    display: none;
  }
	#deck img {
		rotate: -90deg;
	}
}