.horizontal-marquee{display:flex;flex-wrap:nowrap;overflow:hidden;gap:var(--_gap);max-width:100%}.horizontal-marquee.smooth{-webkit-mask:linear-gradient(90deg,transparent,#fff 15%,#fff 80%,transparent);mask:linear-gradient(90deg,transparent,#fff 15%,#fff 80%,transparent)}.horizontal-marquee.paused .horizontal-marquee-inner{animation-play-state:paused}.horizontal-marquee.full .horizontal-marquee-inner{min-width:100%}.horizontal-marquee-inner{display:flex;align-items:center;justify-content:space-around;flex-wrap:nowrap;gap:var(--_gap);white-space:nowrap}[data-animate=true] .horizontal-marquee-inner{animation:horizontal-marquee var(--_speed) linear infinite var(--_direction)}@keyframes horizontal-marquee{0%{transform:translate(calc(var(--_gap) * -1))}100%{transform:translate(calc(-100% - var(--_gap) * 2))}}.vertical-marquee{display:flex;flex-wrap:nowrap;overflow:hidden;margin-bottom:var(--_gap);max-height:100%;flex-direction:column;height:calc(calc(var(--_containerSize) - var(--_vGap))/ 1.2)}.vertical-marquee.smooth{-webkit-mask:linear-gradient(180deg,transparent,#fff 20%,#fff 80%,transparent);mask:linear-gradient(180deg,transparent,#fff 20%,#fff 80%,transparent)}.vertical-marquee.paused .vertical-marquee-inner{animation-play-state:paused}.vertical-marquee-inner{flex-shrink:0;display:flex;align-items:center;justify-content:space-around;flex-wrap:nowrap;margin-bottom:var(--_vGap)}[data-animate=true] .vertical-marquee-inner{animation:vertical-marquee var(--_speed) linear infinite var(--_direction)}.vertical-marquee-inner>:not(:last-child){margin-right:var(--_hGap)}@keyframes vertical-marquee{0%{transform:translateY(calc(var(--_vGap) * -1))}100%{transform:translateY(calc(-100% - var(--_vGap) * 2))}}
.marquee-container h4 {
padding: 0 var(--uni);
}
#hero {
	position: relative;
	width: 100%;
	height: 100vh;
	padding-bottom: var(--uni);
	flex-direction: column;
	#marquee {
		mix-blend-mode: difference;
		z-index: 5;
	}
}
.bg {
	/* border: 3px solid red; */
	background-color: #212121;
	z-index: -1;
	width: 100%;
	/* height: 100vh;
	position: fixed; */
	height:100%;
	position: absolute;
	top: 0;

}
#gradient-canvas {
	width: 100%;
	height: 100%;
  --gradient-color-1: #727272; 
  --gradient-color-2: #212121; 
  --gradient-color-3: #292929;  
  --gradient-color-4: #000000;
  filter: blur(20px);

}
.corners {
		--s: var(--h4); /* the size on the corner */
		--t: 2.5px;  /* the thickness of the border */
		
		padding: calc(var(--p) + var(--t));
		outline: var(--t) solid var(--white-50); /* the color here */
		outline-offset: calc(-1*var(--t));
		mask:
		  conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
		  0 0/calc(100% - var(--s)) calc(100% - var(--s)),
		  linear-gradient(#000 0 0) content-box;
}
#intro-logo {
	width: 100%;
	margin-top: 7vh;
}
#hero-bottom {
	z-index: 3;
	padding-bottom: var(--uni);
	width: 100%;
}
#bottom-left {
	max-width: 600px;
}
#hero svg {
	margin-top: 7vh;
	height: auto;
	width: 100%;
	padding-left: var(--uni);
	padding-right: var(--uni);
}
#about-desc {
	width: 100%;
	text-align: center;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	justify-content: space-around;
}

#desc-desc {
	width: 100%;
	text-align: center;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	span {
		font-family: var(--title);
		color: var(--white);
		font-size: var(--h1-5);
		line-height: 0.9;
		text-align: center;
	}
}
#desc-v3 {
	height: 100vh;
	justify-content: space-evenly;
	#header-layout {
		width: 100%;
		gap: 1rem;
		.h1 {
		padding-right:0.5rem;
		}
	}
	#desc {
		margin-top: var(--h2);
	}
}
#project-attr {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1rem;
}
#project-attr-2 {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0.3rem;
}
ul {
	list-style-position: inside;
}
.strip-top{
	border-top: 2px solid #ababab;
}
.strip-bottom{
	border-bottom: 2px solid #ababab;
}
.strip-right{
	border-right: 2px solid #ababab;
}
#scroll-section {
	position: absolute;
	top: 0;
	/* height: 100%; */
	width: 300vw;
	will-change: transform;
}
#project-showcase {
	height: 325vh;
	span {
	line-height: 0.85;
		font-size: var(--h1-5);
		font-family: var(--title);
		/* margin-bottom: -3rem; */
	}
	#project-wrapper{
		width: 100%;
		margin: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;
		position: sticky;
		top: 0;
		justify-content: center;
	}
	#project-row {
		width:fit-content;
		display:flex;
		flex-wrap:nowrap;
	}
	#featured-project {
		flex-shrink: 0;
		margin: auto;
		position: relative;
		color: var(--white);
		width: 70vw;
		height: 80vh;
			/* scale: 1.2; */
			display: block;
			z-index: 1;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			object-fit: cover;
			filter: grayscale(1);
	}
	#featured-project:hover {
		filter: grayscale(0);
		}
}

#brev {
	height: 100vh;
	width: 100%;
	overflow: hidden;
#work-title {
	width: fit-content;
	position: absolute;
	/* z-index: 1; */
	padding-top: 10vh;
	span {
		font-size: var(--h);
	}
}
}
#work-wrapper {
	z-index: 2;
	width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	padding: var(--h4);
}

#work-slide {
	height: fit-content !important;
	width: fit-content !important;
	margin: 0;
	img {
	  max-width: 500px;
	  max-height: 450px;
	}
  }
.swiper-container {
	padding-bottom: var(--p);
}
.swiper-container,
.swiper-wrapper {
	transition-timing-function: linear;
	width: 100%;
	display: flex;
	align-items: flex-end !important;
}

.swiper-slide {
  height: fit-content !important;
  width: fit-content !important;
  margin: 0;
  img {
    max-width: 500px;
    max-height: 450px;
  }
}
.swiper-slide h4 {
	color: var(--black);
}
  /* TEXT ON TOP */
#featured-project-details {
	position: relative;
	z-index: 3;
	height: 100%;
    width: 100%;
}


#project {
	display: flex;
	border: 2px inset #0000003e;
	overflow: hidden;
	width: 100%;
	height: 85vh;
}
#project-desc {
	height: 100%;
	padding: var(--uni);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	align-items: flex-end;
/* background-color: red; */
}

#featured-project-details span,
#project-desc span {
font-size: var(--h1-5);
font-family: var(--title);
line-height: 0.8;
}
.border {
	padding: 10px;
	border: 2px solid #0000003e;
	width: 100%;
	height: fit-content;
}
.project-img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    overflow: hidden;
	width: 100%;
	height: 100%;
}
.sage {
	background-image: url('https://namanprat.com/images/sage/sage-cover.webp');	
}
.aspen {
	background-image: url('https://namanprat.com/images/aspen/asppen-cover.webp');
}
.aspen-2{
	color: var(--white);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    overflow: hidden;
	width: 100%;
	height: 100%;
	/* position: absolute; */
	background-image: url('https://namanprat.com/images/aspen/asppen-cover.webp');
}
.sage-2{
	color: var(--white);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    overflow: hidden;
	width: 100%;
	height: 100%;
	/* position: absolute; */
	background-image: url('https://namanprat.com/images/sage/sage-cover.webp');	

}
.moneyme {
	background-image: url('./public/moneyme.png');
}

#divider {
	width: 0%;
	height: 1px;
	background-color: var(--white);
}